body {
    background-color: black;
}

#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: monospace;
}

#sound1 {
    height: 10rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(closest-side, black,skyblue,lightseagreen );
    border: none;
    box-shadow: 0 0 50px white;
    opacity: 0.7;
}