body {
    background-color: #161616;
    color: white;
    display: flex;
}

.header{
    font-size: 45pt;
    font-style: italic;
    color: grey;
    max-width: 300px;
    align-self: center;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: none;
}

.header:hover{
    text-decoration: line-through;
    background-color: black;
    color: white;
}

#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: monospace;
    align-items: center;
}

.fixer{
    display: flex;
    flex-direction: column;

}

.container {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// background: linear-gradient(#570000, #330000);

//---------------BUTTON STYLES----------------

.button0 {
    background: linear-gradient(#260000, rgb(10, 2, 2));
}

.button1 {
    background: linear-gradient(#450000, rgb(26, 1, 1));
}

.button2 {
    background: linear-gradient(#6E040C, #260000);
}

.button3 {
    background: linear-gradient(#9B0C23, #260000);
}

.button4 {
    background: linear-gradient(#AC3649, #260000);
}

.button0,
.button1,
.button2,
.button3,
.button4 {
    // outline: 1px solid grey;
    margin: 1.5rem;
    height: 10rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    position: relative;
    cursor: none;
    transition: all 0.5s ease-in-out;
}

.out-rip {
    animation: ripple 1.5s linear infinite;

}

.button0:hover,
.button1:hover,
.button2:hover,
.button3:hover,
.button4:hover {
    transform: scale(1.1);
}


/* ------------- OUTER BUTTON RIPPLE STUFF -------------- */
$color: white;

@keyframes ripple {
    0% {
        box-shadow:
            0 0 0 0 rgba($color, 0.3),
            0 0 0 1px rgba($color, 0.3),
            0 0 0 1px rgba($color, 0.3),
            0 0 0 1px rgba($color, 0.3);
    }


    100% {
        box-shadow:
            0 0 0 0 rgba($color, 0.3),
            0 0 0 4px rgba($color, 0.3),
            0 0 0 20px rgba($color, 0),
            0 0 0 30px rgba($color, 0);
    }
}

/*------------ INNER BUTTON RIPPLE STUFF ---------------*/

.button0>.ripple,
.button1>.ripple,
.button2>.ripple,
.button3>.ripple,
.button4>.ripple {
    width: 20px;
    height: 20px;
    position: absolute;
    background: white;
    display: block;
    content: "";
    border-radius: 9999px;
    opacity: 1;
    animation: 1s ease 1 forwards ripple-effect;
}

@keyframes ripple-effect {
    0% {
        transform: scale(1);
        opacity: .4;
    }

    // 50% {
    //     opacity: 0.2;
    // }

    100% {
        transform: scale(30);
        opacity: 0;
    }
}

.ripple-button>.content {
    position: relative;
    z-index: 2;
}

//-------------HELP MODAL----------------

.modal {
    position: fixed;
    bottom: -150vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #161616;
    padding: 4rem;
    transition: bottom 0.3s;
    z-index: 10;
    font-size: 13pt;
    // width: 100%;
}

.modal.show {
    bottom: 0;
    // top: 50%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.55);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
    z-index: 5;
}

.overlay.show {
    display: block;
}

.help{
    width: 2rem;
    height: 2rem;
    font-size: 11pt;
    align-self: end;
    font-weight: bold;
}

.help:hover, .confirm:hover{
    background-color: black;
    color: white;
}

.confirm{
    height: 4rem;
    margin-top: 2rem;
    font-size: 15pt;
}

.confirm, .help{
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: #303030;
    cursor: pointer;
    color: grey;
    transition:all 0.6s;
    border: none;

}
